body {
  background: var(--color-secondary);
  color: var(--color-primary);
}

.container img {
  width: 10rem;
  height: auto;
  margin: 1rem;
}

.inputFile {
  display: none;
  width: 10px;
}

.uploadButton {
  height: 2rem;
  width: 10rem;
  display: inline-block;
  margin: 0.2rem 1rem 1rem;
  text-align: center;
  color: var(--color-primary);
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--color-tertiary);
}

.uploadText {
  justify-self: center;
  position: relative;
  top: 20%;
}
