@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

body {
  margin: 0;
  font-family: var(--font-family);
}

:root {
  /* COLORS */
  --color-primary: #103353;
  --color-secondary: #dd5757;
  --color-tertiary: #34be7c;
  --color-text: white;

  /* FONT */

  --font-family: 'Roboto', sans-serif;

  /* BORDER */
  --border-radius: 10px;
}
